# Ignorar archivos de configuración del sistema
.DS_Store
Thumbs.db


# Ignorar entornos virtuales de Python
venv/
.env

# Archivos de base de datos y JSON generados
*.db
*.json
*.jpeg
*.pytest_cache

# Archivos de caché y compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs y backups
*.log
backup*/

*.db
.pytest_cache
.logs


# Configuración de IDEs
.idea/
.vscode/

# Archivos temporales
*.tmp
*.swp

